/*==================== VARIABLES CSS ====================*/
:root {
  /*========== RENDER 1REM = 10PX =============*/
  font-size: 62.5%;
  /*========== Colors ==========*/
  --color-dark: #39423e;
  --color-lighter: #b8c4c2;
  --color-light: #8da6aa;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(../images/background.jpg);
  background-repeat:no-repeat ;
  background-size: cover;
  background-position: center;
}
