.clock {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.clock-face {
  border: 1rem solid var(--color-dark);
  border-radius: 50%;
  width: 25rem;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; 
}

.hand {
  background-color: var(--color-light);
  width: 45%;
  height: 0.7rem;
  right: 50%;
  position: absolute;
  transform-origin: 100%;
  transform: rotate(90deg);
}

.hand-seconds {
    
}